:root {
    --white: #F9F9F9;
    --black: #212121;
    --gray: #848484;
    --green: #32A4AA;
    --red: #B01116;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}


a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.bannerCard {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    height: 100%;
    width: 100%;
}

.bannerCard p {
    font-size: 20px;
    font-weight: 500;
    color: var(--white);
    text-align: center;
}

@media (max-width: 900px) {
    .bannerCard p {
        font-size: 16px;
    }
}

.serviceIcon {
    width: 100px;
}

@media (max-width: 600px) {
    .serviceIcon {
        width: 50px;
    }
}

.map {
    width: 100%;
    height: 245px;
}

@media (max-width: 600px) {
    .map {
        height: 320px;
    }
}
